{% extends "facturier/base.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">LastName</th>
                    <th scope="col">FirstName</th>
                    <th scope="col">Email</th>
                    <th scope="col">Profile Link</th>
                </tr>
            </thead>
            <tbody>

                {% for customer in object_list %}
                <tr>
                    <th scope="row">{{customer.id}}</th>
                    <td>{{customer.last_name}}</td>
                    <td>{{customer.first_name}}</td>
                    <td>{{customer.email}}</td>
                    <td><a href="{% url 'customer-detail' customer.slug %}">Profile</a></td>
                </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}