{% extends "facturier/base.html" %}

{% block content %}

<div class="container-profile-detail">
    <div class="row">
        <div class="col-md-6 img">
            {% if product.cover.url != none %}
            <img class="profile-img img-fluid" src="{{product.cover.url}}" alt="" class="img-rounded">
            {% else %}
            <img class="profile-img img-fluid" alt="No Cover" class="img-rounded">
            {% endif %}
        </div>
        <div class="col-md-6 details">
            <blockquote>
                <span>
                    <h5>{{product.name}}</h5>
                    <div class="buttonChanges">
                        {% comment %} <a href="{% url 'product-edit' customer.slug %}"><i class="fas fa-edit"></i></a> {% endcomment %}

                        {% comment %} <form id="DeleteForm" action="{% url 'product-delete' product.slug %}" method="POST"> {% endcomment %}
                            {%csrf_token %}
                            <button id="DeleteSubmit" type="button"><i class="fas fa-trash-alt"></i></button>
                        </form>
                    </div>
                </span>
                <small><cite title="Source Title">{{product.description}}<i class="icon-map-marker"></i></cite></small>
            </blockquote>
            <p>
                {{product.price}}$<br>
                Stock :{{product.stock}} <br>
            </p>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#DeleteSubmit").click(function (event) {
            if (confirm("Click OK to continue?")) {
                $('#DeleteForm').submit();
            }
        });
    });
</script>
{% endblock content %}