{% extends "facturier/base.html" %}
{% load static %}
{% block content %}

<div class="container quotation">
    <div class="row">
        <img src="{% static 'img/lapin.png' %}" alt="lapin">
        <h1>Codi-Facturier</h1>
    </div>

    <div class="row customer-info">
        <div>
            <h5><a href="#" id="last_name" data-type="text" data-pk="{{quotation.customer.id}}" data-url="{% url 'quotation-edit' %}"  data-title="enter last_name"  >{{quotation.customer.last_name}}</a></h5>

            <h5>{{quotation.customer.first_name}}</h5>
            <h5>{{quotation.customer.email}}</h5>
            <h5>{{quotation.customer.city}}</h5>
            <h5>{{quotation.customer.country}}</h5>
        </div>
    </div>
    <div class="content">
        <div class="title">
            <h2>Devis n°{{quotation.id}}</h2>
            <h5>{{quotation.quotation_creation_date}}</h5>
        </div>

        {{line}}

        <div class="row">
            <table class="table quotationLine">
                <thead>
                    <tr>
                        <th scope="col">ID Product</th>
                        <th scope="col">Name</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Unit Price</th>
                        <th scope="col">Subtotal Price</th>
                    </tr>
                </thead>
                <tbody>

                    {% for line in quotation.commandline_set.all %}
                    <tr>
                        <th scope="row">{{line.product.id}}</th>
                        <td>{{line.product.name}}</td>
                        <td>{{line.quantity}}</td>
                        <td>{{line.product.price}} $</td>
                        <td class="subtotal">{% widthratio line.product.price 1 line.quantity %} $</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <h4 class="total-h">Total : <span class="total"> </span></h4>
        </div>
    </div>
</div>
<script>

$( document ).ready(function() {
    $cpt="";
    $total=0;
$subtotal = $(".subtotal");
for (i=0; i<$subtotal.length; i++){
    $total += parseInt($subtotal[i].innerHTML);
};
$total = $total.toString();
$(".total").text($total+" $");
});
$.fn.editable.defaults.mode="inline";
$('#last_name').editable();




</script>
{% endblock content %}
