{% extends "facturier/base.html" %}

{% block content %}

<form class="bg-dark formCustomer" action="." method="post" enctype="multipart/form-data">{% csrf_token %}
    <p>
        <label for="">Customer :</label>
        {{form.customer}} 
    </p>
    <p>
        <label for="">Type :</label>
        {{form.type}}
    </p>
    <p>
        <label for="">Bill creation date :</label>
        {{form.bill_creation_date}}
    </p>
    <p>
        <label for="">Status :</label>
        {{form.status}}
    </p>
    <br>
    {% for formset in inlines %}
    {% for form in formset %}
    <p class="line">
        <label for="">Product :</label>
        {{ form.product }}
        <label for="">Quantity :</label>
        {{ form.quantity }}
    </p>
    {{ formset.management_form }}
        {% endfor %}
    {% endfor %}
    <br>
    <button id="btnQuotationForm" class="btn btn-outline-light" type="submit">Submit</button>
</form>

{% endblock content %}

{% block extra_script %}

<script type="text/javascript">
    $(function () {
        $('.line').formset();
    })
</script>

{% endblock extra_script %}