{% extends "facturier/base.html" %}
{% load static %}

{% load multiply %}


{% block content %}

<div class="container quotation">
    <div class="row">
        <img src="{% static 'img/lapin.png' %}" alt="lapin">
        <h1>Codi-Facturier</h1>
    </div>

    <div class="row customer-info">
        <div>
            <h5><a
                href="#"
                id="last_name"
                data-type="text"
                data-pk="{{quotation.customer.id}}"
                data-url="{% url 'customer-update' %}"
                data-title="enter last_name">
                {{quotation.customer.last_name}}</a></h5>

            <h5><a href="#" id="first_name" data-type="text" data-pk="{{quotation.customer.id}}" data-url="{% url 'customer-update' %}"
            data-title="enter first_name">{{quotation.customer.first_name}}    </a></h5>

            <h5><a href="#" id="email" data-type="text" data-pk="{{quotation.customer.id}}" data-url="{% url 'customer-update' %}"
            data-title="enter email">{{quotation.customer.email}}
            </a></h5>

            <h5><a href="#" id="city" data-type="text" data-pk="{{quotation.customer.id}}" data-url="{% url 'customer-update' %}"
            data-title="enter city">{{quotation.customer.city}}
            </a></h5>

            <h5><a href="#" id="country" data-type="text" data-pk="{{quotation.customer.id}}" data-url="{% url 'customer-update' %}"
            data-title="enter country">{{quotation.customer.country}}
            </a></h5>

        </div>
    </div>
    <div class="content">
        <div class="title">
            <h2>Devis n°{{quotation.id}}</h2>
            <h5>{{quotation.quotation_creation_date}}</h5>
        </div>

        <div class="row">
            <table class="table quotationLine">
                <thead>
                    <tr>
                        <th scope="col">ID Product</th>
                        <th scope="col">Name</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Unit Price</th>
                        <th scope="col">Subtotal Price</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>

                    {% for line in quotation.commandline_set.all %}
                        <tr>
                            <th scope="row">{{line.product.id}}</th>
                            <td>{{line.product.name}}</a></td>
                            <td><a href="#" data-name="quantity" data-type="text" data-pk="{{line.id}}" data-url="{% url 'commandline-update' %}" data-title="enter quantity">{{line.quantity}}
                                </a></td>
                            <td class="unitPrice">{{line.product.price}} $</td>
                            <td class="subtotal">{% multiply line.product.price line.quantity %} $</td>
                            <td><button id="{{line.id}}" class="btn btn-outline-secondary delete">Delete Line</button></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <h4 class="total-h">Total : <span class="total"> </span></h4>
            {% for product in product %}

            <input class="product-list" type="text" value="{{product.name}}" hidden>
            {% endfor %}
            <a  href="{% url "quotation-pdf" quotation.id %}">salut</a>
        </div>
    </div>
</div>

{% endblock content %}

{% block extra_script %}
<script>
$(document).ready(function () {

function MathTotal() {
    $cpt = "";
    $total = 0;
    $subtotal = $(".subtotal");
    for (i = 0; i < $subtotal.length; i++) {
        $total += parseFloat($subtotal[i].innerHTML);
    };
    $total = $total.toString();
    $(".total").text($total + " $");
}

MathTotal();

    $.fn.editable.defaults.mode = "inline";

    $('#last_name').editable();
    $('#first_name').editable();
    $('#email').editable();
    $('#city').editable();
    $('#country').editable();
    $('a[data-name=quantity]').editable();

    $('.editable-click').click(function(){
        $('button.editable-submit').click(function(){
            $parentQuantity = $(this).closest(".control-group");
            $quantity = $parentQuantity.find("input").val();

            $parentUnitPrice = $(this).closest("tr");
            $unitPrice = $parentUnitPrice.find(".unitPrice").html();
            $unitPrice = $unitPrice.replace(",",".");

            $subtot = parseFloat($unitPrice)*$quantity

            $parentSubtotal = $(this).closest("tr")
            $subtotalTd = $parentSubtotal.find(".subtotal");
            $subtotalTd.text($subtot+ " $")
            MathTotal();

        });
    });


        $name = "";
        $name_list = [];
        $product_list = $(".product-list");
        for (i = 0; i < $product_list.length; i++) {
            $name += "{value : " + $product_list[i].value + ", text:" + $product_list[i].value + "},";
            $name_list.push($name);
            $name = "";
        }


    $(".delete").click(function(){
$tr = $(this).closest("tr");
$.ajax({
    url: "{% url 'commandline-delete' %}",
    type : 'POST'  ,
    data : 'pk=' + this.id,
    success : function(statue){
        console.log("success");
        $tr.remove();
        MathTotal();
        },
    error : function(resultat, statut, erreur){
        alert("Requete AJAX failed");
        },
        });
    });
});
</script>
{% endblock extra_script %}
