#logo {
    width: 50px;
    height: 50px;
}
.loginP {
    color: white;
    margin: 0;
}
footer div {
    color: aliceblue;
}

/* ///////////////////Login page///////////////////////////////// */
/* .loginpage */
.formCustomer {
text-align: center;
margin: 2em 0;
border: 0.5px solid #000000;
border-radius: 66px;
color:white;
padding: 1.5em 0;
box-shadow: 2px 6px 73px 7px rgba(0, 0, 0, 0.75);
}

form p {
    display: flex;
    justify-content: space-between;
    border-bottom: white solid 1px;
    margin: 1em 10%;
    }
.formDetail {
    margin: 0 25%;
}
/* ///////////////////Customer Create//////////////////////////// */


/* //////////////////////////// Quotation form //////////////////////////// */

.add-row, .delete-row {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    white-space: nowrap;
    vertical-align: middle;
}
.add-row:hover, .delete-row:hover {
color: #f8f9fa;
background-color: transparent;
background-image: none;
border-color: #f8f9fa;
text-decoration: none;
}

#btnQuotationForm {
    display: block;
    margin: 0 auto;
    margin-top: 1em;
}
